<h1>All Order </h1>
<table>
  <thead>
    <tr>
<th>Amount</th>
  <th>Date</th>
  <th>User</th>
  <th>Product</th>
  <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.amount %></td>
        <td><%= order.date %></td>
        <td><%= link_to "Edit" ,edit_order_path(order)%> </td>
        <td><%= link_to "Delete" , order_path(order), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%> </td>
      </tr>
    <% end %>
  </tbody>
</table>
